.activity {
  .details {
    font-size: 16px;
    margin-left: 15px;
  }
  .full-name {
    font-weight: 800;
  }
  .time {
    font-size: 14px;
    color: #7081b9;
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex: auto;
    justify-content: end;
  }
  span .status-text {
    font-weight: 600;
    font-style: italic;
    color: #bb1919;
  }
  .activity-link {
    text-decoration: none;
  }
}