.task-title {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: cursive;
  color: black;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.task-description {
  font-size: 0.9rem;
  color: #6f6f70;
  font-family: cursive;
}

.task-action {
  color: #a3a3a3;
}