.icon-design {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #9DCDF9;
  border-radius: 50px;
  width: 55px;
  height: 55px;

  .custom-icon {
    font-size: 25px;
    color: #2596ff;
  }
}
