.invoice-page {
  .title {
    color: rgb(150, 150, 150);
    font-size: 1.1rem;
    font-weight: 300;
  }
  .MuiFormControl-root {
    width: 100% !important;
  }
  .made-by-selector .MuiSelect-select {
    display: flex;
    align-self: center;
  }

  .order-image {
    cursor: pointer;
  }

  a {
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
    color: rgb(0, 0, 255);
    text-decoration: none;
    &:hover {
      color: rgb(0, 0, 200);
    }
  }
}
