.edit-income-page {
  .title {
    color: rgb(150, 150, 150);
    font-size: 1.1rem;
    font-weight: 300;
  }
  fieldset {
    border: #DCE0E4 solid 1px !important;
    border-radius: 10px !important;
  }
  .cost {
    fieldset {
      border-right: none !important;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
  .currency {
    fieldset {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
}


.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  color: #2bb639 !important;
  border-color: #2bb639 !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100% !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #979797b4 !important;
  font-size: 0.9rem !important;
}
