.offices-expense {
  h6 {
    font-size: 16px;
  }
  h3 {
    font-weight: 800;
    margin-bottom: 18px;
  }
  p {
    font-size: 18px;
    color: rgb(99, 115, 129);
    font-weight: 500;
    margin-bottom: 10px;
  }
  .debts {
    font-size: 20px;
    
  }
  hr {
    color: #b8b8b8;
  }
}