.custom-button {
  height: fit-content;
}
.custom-button:disabled {
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666 !important;
    &:hover {
      cursor: not-allowed !important;
    }
  }

